*{
    box-sizing: border-box;
}

body{
    margin: auto; padding: auto; color: #343a40; background-image: url(../image/autobg1.jpg);
    font-family: robotoregular;
}

#navs{
    background-color:#060405;
    
}
.navbar-brand{padding-top: 0px  !important; padding-bottom: 0px !important;}
.navbar{background-color:#060405 !important; padding: 0px !important;}

#dropdown-menu{ background-color: rgba(6, 4, 5, 1);}
.dropdown-item{color: rgba(255,255,255,.5) !important; border-top: thin rgba(255,255,255,.5) dotted !important;}
.dropdown-item:hover{color: rgba(255,255,255,.8) !important; background-color: rgba(6, 4, 5, 1) !important;}
#imgperson{font-size: 1.25em;}

#banner{padding-top: 1.25em; margin: 0px;}
#backrow{margin-top: 1.25em; margin-right: 0px; margin-left: 0px;}

#showroom{padding-top: 1.25em; margin: 0px;}
#showroom .col-10{padding-left: 0px; padding-right: 0px;}
#thumbPix{margin: 10px auto; width: 27.375em; height: 5.125em; background-color: rgba(6, 4, 5, 1); padding-top: 0.25em;}
#thumbPix span{padding-left: 0.1875em;}
#thumbPix span img{border: #cccccc thin solid;}
#thumbPix span img:hover{cursor: pointer; border: rgb(116, 116, 240) 0.0625em solid;}

#tablerow{margin-right: 0px; margin-left: 0px;}
.table tr{background-color: rgba(6, 4, 5, 1); color: rgba(255,255,255,.5);}

#foot{
    height: 6.25em; background-color: rgba(6, 4, 5, .9); color: #f5f5f5; text-align: center; 
    width: 100%; padding-top: 1.875em;
}
#foot .row{margin: 0px;}

#foot ul{list-style: none; margin: 0px; padding: 0px}

#foot ul li{display: inline;}

#socialMedia{font-size: 2rem;list-style:none;}

#socialMedia li{ display: inline; padding-left: 1.875em;}