*{
    box-sizing: border-box;
}

body{
    margin: auto; padding: auto; color: #343a40; background-image: url(../image/autobg1.jpg);
    font-family: robotoregular;
}

#navs{
    background-color:#060405;
    
}

#users .row{margin: 0px !important;}

.navbar-brand{padding-top: 0px  !important; padding-bottom: 0px !important;}
.navbar{background-color:#060405 !important; padding: 0px !important;}

.holdform{width: 100%; margin-top: 3em; text-align: center;
}

.divform{background-color: #f5f5f5; width: 90%; height: 34.375em; 
    margin: auto; padding-top: 1.875em; border-radius: 0.625em;
}
.divform h4{color: #141e3b; font-family: robotobold_italic;}
.divform hr{border-color: rgba(45, 93, 204, 0.3);}

#userForm{ margin-top: 1.25em;}
.fancy{width: 90%; border-radius: 0.3125em; margin: auto;  margin-bottom: 0.625em; background-color: rgba(45, 93, 204, 0.1);
    color:rgba(45, 93, 204, 0.7); 
    box-shadow: 1px 1px 2px -1px #141e3b inset;
}
.form-row input{width: 100%; border: none; background: none; margin-top: 1.25em;}
.form-row input:focus{border: none; background: none;}
.form-row label{margin-top: 0.7em; text-align: center; font-size: 1.5625em;}
.form-row{padding-left: 0px;}
.form-row .col-sm-2{padding-left: 0px !important; padding-right: 0px !important;}
.form-row .col-sm-9{padding-left: 0px !important; padding-right: 0px !important;}
#grid{width: 98%; margin: 0 auto;}
#grid .form-check-inline{margin-right: 4.5rem;}
#grid a:hover{text-decoration: none;}
#divsignin{margin-top: 1.25em;}


#output{height: 2em;}
#correct{background: none !important; border: none !important; padding: 0px !important; margin-bottom: 0px !important; display: none;}
#wrong{background: none !important; border: none !important; padding: 0px !important; margin-bottom: 0px !important; color: red; display: none;}
.terms{font-size: 0.875em; color: rgba(20, 30, 59, 0.8);}


#foot{
    height: 6.25em; background-color: #343a40; color: #f5f5f5; text-align: center; 
    width: 100%; padding-top: 1.875em;
}
#foot .row{margin: 0px;}

#foot ul{list-style: none; margin: 0px; padding: 0px}

#foot ul li{display: inline;}

#socialMedia{font-size: 2rem;list-style:none;}

#socialMedia li{ display: inline; padding-left: 1.875em;}

@media (max-width: 767px){
    .terms{font-size: 0.75em;}
}